<h1>This WordCounter Game Results: </h1>

<h2>Word to check: @Model.GetUserEnteredWord()</h2>
<h2>Sentence to check: @Model.GetUserSentence()</h2>
<h2>Times word was found: @Model.WordCount()</h2>

<a href='/wordcounter/new'>Play another game</a>
<a href='/wordcounter'>View all games</a>
